@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
    font-family: 'Prompt', sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(190,229,255,1) 100%);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#loading-indicator {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 500;
    background-image: url("../image/loading-37.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.busCol {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.busRow {
    font-size: 1.5rem;
    justify-content: center;
    align-content: center;
}

.busRow p {
    margin-top: 25px;
}

.seat {
    margin-top: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 100%;
}

.passengerList {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.seat p {
    font-size: 1.25rem;
    font-weight: bolder;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.9);
    /* -webkit-text-stroke:0.1px black; */
    backdrop-filter: shadow 1px 1px rgba(0, 0, 0, 0.5);
    margin-top: 0rem !important;
    margin-bottom: 10rem !important;
}

.peNone{
    pointer-events: none;
}

.empty {
    background-image: url('../../asset/image/seat-empty.png');
    pointer-events: none;
}

.booked {
    background-image: url('../../asset/image/seat-booked.png') !important;
    pointer-events: all;
}

.checked {
    background-image: url('../../asset/image/seat-checked.png') !important;
    pointer-events: all;
}

.absent {
    background-image: url('../../asset/image/seat-absend.png') !important;
    pointer-events: all;
}

.absentLate5mins {
    background-image: url('../../asset/image/seat-late5min.png') !important;
    pointer-events: all;
}

.midlane {
    background: transparent;
}

footer p {
    font-size: 0.75rem;
}

.customFooter {
    background-color: whitesmoke;
}

.seatStatusImg {
    max-height: 50px;
}

.passengerDetailTalbe td:nth-child(odd) {
    text-align: right;
}

.passengerDetailTalbe td:nth-child(even) {
    text-align: left;
    word-break: break-word;
}

 .passengerSummary td:nth-child(odd) {
    /* text-align: right; */
    width: 60%;
}

.passengerSummary td:nth-child(even) {
    /* text-align: left; */
} 

.seatNList {
    color: black;
}

.openScanerBtn {
    position: fixed;
    bottom: 130px;
    right: 10px;
    padding: 4px;
    border-radius: 8px;
    width: auto;
    font-size: 16px;
    color: white;
    z-index: 100;
}

.seatListEmpty {
    pointer-events: none;
}

button.round {
    background-color: #48abe0;
    color: white;
    border: none;
    padding: 2px;
    font-size: 1.5rem;
    height: 70px;
    width: 70px;
    box-shadow: 0 2px 4px darkslategray;
    border-radius: 50%;
}

button.round:hover {
    background-color: #65b9e6;
}

button.round:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.col-20p{
    flex: 0 0 20%;
    max-width: 20%;
}
.col-25p{
    flex: 0 0 25%;
    max-width: 25%;
}

.col-16p{
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.col-10p{
    flex: 0 0 10%;
    max-width: 10%;
}

.col-225p{
    flex: 0 0 22.5%;
    max-width: 22.5%;
    height: 70px !important;
}

.col-30p{
    flex: 0 0 30%;
    max-width: 30%;
    height: 55px !important;
}

.col-5p{
    flex: 0 0 5%;
    max-width: 5%;
}

.chiled{
    background-image: url('../../asset/image/pst/chiled.png');
}

.monk{
    background-image:  url('../../asset/image/pst/monk.png');
}

.nb{
    background-image:  url('../../asset/image/pst/nb.png');
}

.soldier{
    /* background-image:  url('../../asset/image/pst/solider.png'); */
}

.slide-button{
    font-size: 0.9rem !important;
}