<div class="row text-center">
    <div class="col-2 busCol">
    </div>
    <div class="col-2 busCol">
        <p>A</p>
    </div>
    <div class="col-2 busCol">
        <p>B</p>
    </div>
    <div class="col-2 midlane">
      
    </div>
    <div class="col-2 busCol">
        <p>C</p>
    </div>
    <div class="col-2 busCol">
        <p>D</p>
    </div>
    <!-- busSeatHeader -->
    <div class="col-2 busRow">
        <p>1</p>
    </div>
    <div class="col-2 seat" id="1A">
        <p>1A</p>
    </div>
    <div class="col-2 seat" id="2B">
        <p>1B</p>
    </div>
    <div class="col-2 midlane">
    </div>
    <div class="col-2 seat" id="1C">
        <p>1C</p>
    </div>
    <div class="col-2 seat" id="1D">
        <p>1D</p>
    </div>
    
    <div class="col-2 busRow">
        <p>2</p>
    </div>
    <div class="col-2 seat" id="2A">
        <p>2A</p>
    </div>
    <div class="col-2 seat" id="2B">
        <p>2B</p>
    </div>
    <div class="col-2 midlane">
    </div>
    <div class="col-2 seat" id="2C">
        <p>2C</p>
    </div>
    <div class="col-2 seat" id="2D">
        <p>2D</p>
    </div>
</div>